$font: (  
  color: $colorSecundario,
  size: 15px,
  size-xl: 20px,
  weight: bold, 
  height: 2,
  heigth-xl: 3
);

.formato{
  border-radius: 5px;
  padding: 5px;
};

@mixin container($ancho, $padding) {
  width: $ancho;
  padding: $padding;
}

