
.fondoContenedor{
    background-image: url("../img/staff.jpg");
    background-size: cover;   
    color: $colorPrimario;
}

.transparente{
    background-color: $colorTerciario;
    width: 80%;    
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
}
.lista{  
    width: 90%;
    padding: 20px;    
    font-size: 15px;    
    font-weight: bold; 

    li{
        line-height: 2;    
    }
}