.navbar{        
    flex-grow: 1;
    /* background-color: rgb(49, 7, 77);    rgb(233, 211, 219)     */
    /* uso gradiente */
    /* background: linear-gradient(to right, #480048, #C04848); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+         */
    background: linear-gradient(to right, #f8dcc9, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        

    ul li{
        padding: 10px;
        font-size: 20px;
    }
}

.nav-link{
    color: $colorLetra;
}

 /* Este es para el elemento activo lo puedes omitir si asi deseas
.navbar-light .navbar-nav .active>.nav-link  {
    color: red;
} */